extend layout

block content
  p Log an Adventure!
      form#log-adventure(method="post", enctype="application/json")
        div.log-adventure
          span.label Times Visited
          input#TimesVisited(type='number' name="Times Visited")

        div.log-adventure
          span.label Rating (1-10)
          input#Rating.formcontrol(type='number' name="Rating")

        div.log-adventure
          span.label Hours Spent
          input#HoursSpent(type='number' name="Hours Spent")

        div.log-adventure
          span.label Description
          textarea#Rating(rows="5" cols="50" name="Description")

        div.actions
          input(type="submit", value="Submit")
