extend layout

block content
  .main.container
  .row
    .col-md-6.col-md-offset-3
      h1.display-4.m-b-2 Log an Adventure!

      form#log-adventure(enctype="application/json")
        div.log-adventure
          label(for="Times Visited") Times Visited:
          input#TimesVisited(type='number' name="Times Visited")

        div.log-adventure
          label(for="Rating") Rating (1-10):
          input#Rating.formcontrol(type='number' name="Rating")

          div.log-adventure
            label(for="Hours Spent") Hours Spent:
            input#HoursSpent(type='number' name="Hours Spent")

          div.log-adventure
            label(for="Description") Description:
            textarea#Rating(rows="5" cols="50" name="Description")

          input(type="submit", value="Submit")
