extend layout

block prepend links
      - var homeURL = '/Home/' + user.id;
      - var adURL = '/AdventureAnalytics/' + user.id;
      - var travelURL = '/TravelLog/' + user.id;

block content

    //paragraph for title
    style.
      h3 {font-size: 50px; text-align: center;color: #464646; margin-bottom:20px}

    block content
      h3 Travel Log

    //go through all of the adventures from the json file that we read
    each adventure in user.adventures
      a(href="/adventure/" +user.id+"/"+ adventure.name, class="adventure")
        div(class="image1", id= adventure.id)
          img(src="/images/"+adventure.image,
          style="width:600px; height: 200px; margin:0;",
          alt="")
          h2(style="margin: 0;")
            span #{adventure.name}
