@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Code Pro', monospace;
}
.header {
  background: url("https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-position: center;
}
.header .page-title {
  font-weight: 200;
  font-size: 80px;
  text-align: center;
  padding: 100px;
  text-transform: uppercase;
  color: #fff;
}
.nav1 {
  background: #000;
  text-align: center;
}
.nav1 li {
  display: inline-block;
}
.nav1 a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav1 a:hover {
  background-color: #3ab795;
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer p {
  color: #444;
  font-size: 12px;
}
.image1 {
  position: relative;
  width: 100%;
  display: table-cell;
}
h2 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
}
h2 span {
  color: #fff;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: #000; /* fallback color */
  background: rgba(0,0,0,0.7);
  padding: 10px;
}
.submitbtn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 10px 75px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 3px;
  position: relative;
  top: 5px;
  left: -10px;
  margin: 10px;
}
.submitbtn:hover {
  background-color: #e3e3e3;
  border-color: rgba(0,0,0,0.5);
}
.submitbtn:active {
  background-color: #ccc;
  border-color: rgba(0,0,0,0.9);
}
.logintext {
  width: 20px;
}
.reg {
  margin-top: 8px;
}
.adventure {
  display: table;
  margin: auto;
}
.grid {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.grid_image {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  position: relative;
}
.grid_image span {
  position: absolute;
  right: 10px;
  bottom: 75px;
}
#adventurability {
  margin-left: 2%;
}
#favorites {
  margin-left: 4%;
}
#pastWeek {
  margin-left: 4%;
}
.analyticsGraph {
  margin-left: 2%;
}
.graphBlue {
  background-color: #00f;
}
.analyticsHeaders {
  color: #22689e;
}
.headThree {
  color: #4e5154;
}
.bar {
  fill: #22689e;
}
